<!DOCTYPE html>
<html>
    <head>
        <title>Todo list</title>
    </head>
    <body>
        <div class="box">
            <h1>Todo List</h1>
        </div>
        <div class="box">
           <% for(var i= 0; i< ejes.length; i++){ %>
                <p><%= ejes[i] %></p>
            }

        <form action="/" method="post">
            <input type="text" name="ele1" placeholder="enter the new task">
            <button type="submit">+</button>
        </div>
    </body>
</html>